{% extends "base.html" %}

{% block content %}
<h1>Create Incident</h1>

<!--incident creation form-->
<hr/>
<div class="container-fluid">
    <form id="incident-form">
        <div class="row">
            {% csrf_token %}
            {% for fields in form %}
            <div class="form-group col-4">
                <label class="col-sm-6">{{ fields.label }}</label>
                {{ fields }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Create Incident" />
        </div>
    </form>
</div>
<hr />

<div class="container-fluid">
    <table class="table table-striped table-sm" id="incidents">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Issue time</th>
                <th>Developer team</th>
                <th>Team Email</th>
                <th>Do you want to delete entry?</th>
                <th> Update the entry </th>
                
            </tr>
        </thead>
        <tbody>
        {% csrf_token %}
        {% for inc,dev in incident %}
        <tr id="inc-{{inc.id}}">
            <td id ="company_name{{inc.id}}">{{inc.company_name}}</td>
            <td id ="first_name{{inc.id}}">{{inc.first_name}}</td>
            <td id ="last_name{{inc.id}}">{{inc.last_name}}</td>
            <td id ="issue_time{{inc.id}}">{{inc.issue_time | date:"Y-m-d"}}</td>
            <td id = "dev_team{{inc.id}}">
            {% for team in dev %}
                {{team.team_name}}
            {% endfor %}
            </td>
            <td id = "team_email{{inc.id}}">
            {% for team in dev %}
                {{team.team_email}}
            {% endfor %}  
            </td>
            
            <td><button id ="{{inc.id}}" class="btn btn-danger btn-del postDelete" >DELETE</button></td>
            <td><button type="button" id="{{inc.id}}" class="btn btn-secondary showForm" data-toggle="modal" data-target="#updateForm">
                Update
              </button></td>

            
        </tr>
        {% endfor %}
        

        </tbody>
    </table>

</div>


<!-- incident edit form -->
<form id="" class='update-post' style="display: none;">
    <div class="modal fade" id="updateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Update Incident</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            
           
            {% for field in update_form %}
            
                <div class="modal-body mx-3">
                    <label class="col-sm-6" >{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            
    
          </div>
            <div class="modal-footer d-flex justify-content-center">
                <input type="submit" id = "update_incident" class="btn btn-secondary" value="Update" />
            </div>
        </div>
      </div>
    </div>
</form>


<!-- Developer creation form -->

<hr/>
<h1>Developer Information</h1>
<hr/>

<div class="container-fluid">
    <form id="dev-form" class="devel">
        <div class="row">
            {% csrf_token %}
            {% for fields in developer_form %}
            <div class="form-group col-4">
                <label class="col-sm-6">{{ fields.label }}</label>
                {{ fields }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Create Developer" />
        </div>
    </form>
</div>
<hr />

<div class="container-fluid">
    <table class="table table-striped table-sm" id="dev_info">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Email</th>
                <th>Team Number</th>
                <th>Delete Team</th>
                <th>Edit Team</th>
            </tr>
        </thead>
        <tbody>
        {% csrf_token %}
        {% for dev in dev_info %}
        <tr id="dev-{{dev.id}}">
            <td id = "team_name{{dev.id}}">
                {{dev.team_name}}
            </td>
            <td id = "team_email{{dev.id}}">
                {{dev.team_email}}
            </td>
            <td id = "team_number{{dev.id}}">{{dev.team_number}}</td>
            <td><button id ="{{dev.id}}" class="btn btn-danger btn-del devDelete" >DELETE</button></td>
            <td><button type="button" id="{{dev.id}}" class="btn btn-secondary devUpdate" data-toggle="modal" data-target="#dev_form_modal">
                Update
              </button></td>
        </tr>
        {% endfor %}
        

        </tbody>
    </table>

</div>




<!--Developer edit form-->

<form id="" class='create-developer' style="display: none;">
    <div class="modal" id="dev_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Update Developer</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <!-- this is the part thats causing the problem for post -->
           
            {% for field in developer_form %}
            
                <div class="modal-body mx-3">
                    <label class="col-sm-6" >{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            
    
          </div>
            <div class="modal-footer d-flex justify-content-center">
                <input type="submit" id = "create_developer" class="btn btn-secondary" value="Update" />
            </div>
        </div>
      </div>
    </div>
</form>
{% endblock content %}

